<div id = "newsfeed">
<div id="filter">

<% form_tag( { :action => :index }, { :method => :post }) do -%>
<%= label_tag :user_friend_location, "Search Your Friends' Travel Updates" %>
<%= text_field_tag :user_friend_location, '', :size => 20  %>
<%= submit_tag "Filter" %>
<% end -%>
</div>
<ul>
<% @postings.each do |posting| %>
	<li>

<span>	  <%= image_tag('/images/40-square.png', :alt => "user icon") %></span>
  	<span class="artifact_name"><%= posting.friend.social_network_handle %></span><br />
  	<span class="artifact_content"><%= posting.content %></span><br />
    <span class = "artifact_time">	Posted on <%= posting.when_posted %></span><br />
	</li>
<% end %>
</ul>
</div>