<div id = "newsfeed">
<% form_tag( { :action => :index }, { :method => :post }) do -%>
<%= label_tag :user_friend_location, "Location" %>
<%= text_field_tag :user_friend_location, '', :size => 20  %>
<%= submit_tag "Filter" %>
<% end -%>
<% @postings.each do |posting| %>
	<p><%= posting.friend.social_network_handle %>
	<%= posting.content %>
	Posted on <%= posting.when_posted.strftime('%B %d, %Y') %>
	</p>
<% end %>
</div>