<div id="footer">
  <span>&copy; Coding Wolves &mdash; a project created for Startup Weekend NYC 2010</span>

  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Blog", "http://sparekeyplease.tumblr.com/" %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Welcome", welcome_path %></li>
  </ul>
</div>