<div id="footer">
  <p></p>

  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Blog", "http://sparekeyplease.tumblr.com/" %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Welcome", welcome_path %></li>
  </ul>
</div>